<html>
<%
  def link_to(name, website)
    "<a href=#{website} target='_blank'>#{name}</a>"
  end
%>

  <form method='post' action="<%= @request.path %>">
      First name: <input type="text" name="first_name" placeholder='first name'/><br />
      <input type="checkbox" name="vehicle" value="bike"> I have a bike<br>
      <input type="submit" value="Submit" />
  </form>

  <% if @request.query['vehicle'] == 'bike' %>
    Hello there <%= @request.query['first_name'] %> I heard you bike
  <% elsif @request.query['first_name'] && !@request.query['first_name'].empty? %>
  hello there <%= @request.query['first_name'] %> heard you dont bike
  <% else %>
    Enter thy name
  <% end %>


  <body>
    <h1>You're using a layout</h1>
    <p>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>

      <% {'me' => 'me.html', 'yahoo' => 'https://yahoo.com'}.each do |name, website| %>
      <%= link_to(name, website) %>
      <% end %>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>
